html {
    margin: 0;
    font-size: 14px!important;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
body {
    margin: 0;
    
}
#content {
    padding: 0.257rem 1.9rem;
}
.logoimg {
    height: 35px;
}
.logoimgmbl {
    height: 15px;
    display: none;
}
.nopad-tb {
    margin: 0!important;
    padding: 0 1px!important;
}
.pad-all-10 {
    padding: 10px!important;
}
.pad-all-20 {
    padding: 20px!important;
}
.pad-bottom-10 {
    padding-bottom: 10px!important;
}
.pad-bottom-20 {
    padding-bottom: 20px!important;
}
.pad-top-20 {
    padding-top: 20px!important;
}
.pad-top-10 {
    padding-top: 10px!important;
}
.pad-tb-2 {
    margin: 0!important;
    padding: 2px 1px!important;
}
.bebold {
    font-weight: bold;
}
.bebold-700 {
    font-weight: 700;
}
.bebold-500 {
    font-weight: 500;
}
.bebold-300 {
    font-weight: 300;
}
.bebold-100 {
    font-weight: 100;
}
h4, h5 {
    margin: 0!important;
    padding: 0!important;
}
.txtcenter{
    text-align: center!important;
}
/*********** PRIME NG ***********************/

.p-toolbar {
    padding: 0.05rem 1rem!important;
}
.p-menubar {
    padding: 0.05rem 1.5rem!important;
    /* background: #ffffff;
    color: #333333;
    border: 1px solid #c8c8c8;
    border-radius: 3px; */
}

.p-menubar .p-menubar-custom,.p-menubar .p-menubar-start, .p-menubar .p-menubar-end {
    padding: 2px 0!important;
}

.p-card .p-card-body {
    padding: 0.1rem!important;
}
.p-card .p-card-content {
    padding: 0.1rem 0!important;
}
.p-panel.p-panel-toggleable .p-panel-header {
    padding: 0.357rem 1rem!important;
    background: rgb(231, 229, 229);
}

.p-toast .p-toast-message.p-toast-message-info {
    background: #B3E5FC!important;
    border: solid #0891cf!important;
    border-width: 0 0 0 6px!important;
    color: #044868!important;
}
.p-toast .p-toast-message.p-toast-message-error {
    background: #f7a0a0!important;
    border: solid #ed1010!important;
    border-width: 0 0 0 6px!important;
    color: #460303!important;
}
.p-toast .p-toast-message.p-toast-message-warn {
    background: #f0ee7a!important;
    border: solid #f0f00b!important;
    border-width: 0 0 0 6px!important;
    color: #658708!important;
}
.p-toast .p-toast-message.p-toast-message-success {
    background: #ffffff!important;
    border: solid #05a70a!important;
    border-width: 0 0 0 6px!important;
    color: #074614!important;
}
.p-dialog .p-dialog-header {
    padding: 0.5rem!important;
    border-top-right-radius: 3px;
}
.p-dialog .p-dialog-content {
    padding: 0.7rem!important;
}
.p-breadcrumb {
    border: none!important;
    padding: 1.571rem 0.1rem!important;
}
.p-fileupload {
    width: 100%!important;
}
.p-fileupload .p-fileupload-buttonbar {
    padding: 0.457rem 1rem!important;
}
.p-fileupload .p-fileupload-row > div {
    padding: 0.071rem 0.157rem!important;
}
.p-card .p-card-footer {
    padding: 1rem 1rem 1rem 1rem!important;
}
.p-tag-icon, .p-tag-value, .p-tag-icon.pi {
    line-height: 0.8!important;
}
.test-i i {
    position: absolute!important;
    top: 50%!important;
    color: #B3E5FC;
    margin-top: -0.5rem!important;
}
@media screen and (max-width: 960px) {
    .logoimg {
        display: none;
    }
    .logoimgmbl {
        display: flex;
    }
    .lg:col-2 {
        /* flex: 0 0 auto; */
        padding: 0.2rem!important;
        /* width: 16.6667%; */
    }
}





/*********** PRIME NG ***********************/